<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <center>
<div class="bake">
  <h4>RETAIL LOGIN PAGE</h4>
  <div class="form"><br><br><br>
    <form class="bake">
  AVAILABLE QUANTITY :  <input id="bake_id" type="text" placeholder="Balance"></input>
  <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "showQuantity()" >stock</button><br><br>
  ENTER YOUR ID NUMBER :  <input id="bake_id" type="text" placeholder="ID NUMBER"></input><br><br>
  ENTER THE QUANTITY YOU WANT TO REQUEST :  <input id="bake_id" type="text" placeholder="Requesting quantity"></input><br><br>
  <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "requestQuantity()" >request</button>
  </form>
  </div>
</div>
 </center>
<script src='/javascripts/main.js'></script>

