<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/stylesheets/style.css">
     <div class="form">
     <center>
       <h4>WHOLESALE PAGE</h4>
         <br><br>
     <form class="count" >
    <br><br><br>  
   ENTER THE STOCK YOU WANT TO ADD : <input id="add_id" type="text" placeholder=" ENTER QUANTITY"/><br><br><br>
   <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "depositQuantity()" > deposit</button><br><br><br>
   ID NUMBER: <input id="stock_id" type="text" placeholder=" ID NUMBER"/><br><br><br>
    QUANTITY REQUESTED : <input id="count_id" type="text" placeholder="REQUESTED QUANTITY  "/><BR></BR>
    <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "transferQuantity()" > transfer</button>
    <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "count_quantity(event)" > reject</button><BR></BR>
    AVAILABLE QUANTITY: <input id="stock_id" type="text" placeholder="BALANCE "/>
    <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "showStock()" > stock</button><br><br><br>

  </form>
  </center>
  </div>

<script src="/javascripts/main.js"></script>


